@media(min-width:992px)
{
  body{
    margin:0 auto;
    overflow-x: hidden;
    height: 700px;
    width:1012px;
  }
  .row{

    font-size: 12px;
    margin:0 auto !important;
    /*height:auto !important;*/
    width: 1349px !important;
  }
  /*left sidebar needs some css*/
  .leftmenu
  {
    margin-left: 170px;
    padding-top: 12px;
    height:406px;
    width:180px !important;
  }
  /*right sidebar needs some css*/
  .rightside
  {
    margin-right: auto;
    padding: 0;
    height:695px;
    width:308px !important;
  }
  /*center part needs some css*/
  .col-md-6
  {

    padding: 0 !important;
    width:500px !important;
  }
  .navbar-default
  {
    padding-left: 100px;
  }
  .navbar-right
  {
    padding-right: 70px !important;
  }

}
.list-heading
{
  font-weight: bold;
}
.navbar-nav
{
  margin-left:
}
body{
  background-color: #e9ebee !important; //giving background a decent color;
}
/*.container{}
background-color: orange;}*/
.footer {
  //background-color: rgba(0,0,0,0.87);
  height: 20px;
  bottom: 0;
  }
#header{
  padding-right:30px;
  top: 0;
  background-color: #4267b2;
  height: 42px;
}

#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}
#main,
#menu,
#sidebar {
  margin-top: 45px;
  height: 600px;
}

.comments
{
  margin-top: 10px;     //like and comment needed some space;
}
#main {  /*background-color: orange;*/
   overflow: auto;
   overflow-x: hidden;
  }
  #main::-webkit-scrollbar {
      display: none;
  }

/*#menu { background-color: pink; }*/
/*
#sidebar {

   background-color: yellow; }*/
#main,
#menu,
#sidebar {
  background-color: #e9ebee;#header .dropdown a {
      color: black;
  }
}
.navbar-default .navbar-brand {
    color: white;
}
#header .navbar-brand {
    color: white;
}
#header a {
    color: white;
}
#header .dropdown li > a {
    color: black;
}
#createpost .panel-heading
{
  border-right: 1px;
  font-size: 14px;
  height: 33px;
}
#createpost button
{
  height:32px;
}
#createpost .panel-body
{
  height:71px;
  width:448px;
  padding-top: 23px;
  padding-bottom: 13px;
  padding-left: 12px;
  padding-right: 48px;
}
#createpost img
{
  padding: 1px;
}
#createpost .panel-footer
{
  height:49px;
  padding: 12px 12px 8px 12px;
}
/*.glyphicon
{
  color:navy;

}*/
.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon
{
  color: green;
  margin-left:20px;

}
.navbar .glyphicon
{
  position: relative;
  font-size: 16px;
}

.image-post {
    margin-bottom: 15px;
}
.nav-stacked a
{
  margin:6px;
  color:black;
}
/*.nav-stacked span
{
  margin-right:5px;
}*/
.navbar .badge{
  position: absolute;
  background:red !important;
  color:black !important;
  margin-top:-30px;
  margin-left:20px !important;
  height:17px;
}
.nav-stacked .badge{
  margin-right: 37px;
  background:none !important;
  color:black !important;
}
.dp{
  height: 24px;
  width:24px;
  margin-right: 4px;
  margin-top: -7px;

  border:1px solid;
}
.navbar .form-group
{
  width:500px;
}
.navbar img
{

  padding: 0;
}
.comment {
    margin: 0;
}
input.form-control
{
  height:23px;
  margin-top: 5px;
}
.input-group-btn .glyphicon-search
{
  top: -2px;
  font-size: 13px !important;
}
.input-group-btn .btn-default
{

  margin-top: 5px;
  height: 23px !important;
}
.postss
{
  border-radius: 16px;

}
.inp
{
  border:none;
}
.posthead
{
  padding-right: 11px;
  border-right: 1px solid !important;
}

#go .panel-body {

  background-color:#e9ebee;
}
#ticker
{
  margin: 0 !important;
}
#ticker .panel-body{
    background-color:#e9ebee;
}
#gift{
  color:orange;
}
#menu a
{
  height:30px;
  width:186px;

  font-size:12px;
  padding: 0;
  //margin-left:-25px;
}
#sidebar{
  font-size: 12px;
  overflow-y:auto;
}
#sidebar .glyphicon
{
  font-size:12px;
}
#sidebar::-webkit-scrollbar {
    display: none;
  }
.copyrights
{
  margin-top:8px;
}


@media(max-width: 1200px)
{

  .input-group
  {
    width:100% !important;
  }

}
/*Making the hamburger button menu work */
@media(max-width:992px) {
  .input-group{
    width:150px !important;
  }
}
@media(max-width:768px)
{
  input-group
  {
    width:40%;
  }
  .mobmenu
  { overflow: auto;
    background: white;
    padding-left: 10px !important;
    height: auto;
    width:100%;
  }
  .collapse
  {
    background: white;
  }
  #createpost
  {
    width:auto;
  }
.navbar-nav .glyphicon
  {
    color:black;
    border: 0 !important;
  }
  .navbar-nav a
  {
    margin-left:10px !important;
    color:black !important;
  }
  .navbar-nav img
  {
    margin-right:20px;
  }
  .navbar-nav .hide
  {
    padding-left:20px !important;
    display: inline !important;
  }
  .nav .badge
  { position: static;
    margin: 0;
    float:right !important;
    background: none !important;
  }
}
